# Automatically normalize line endings for text files
* text=auto

# Ensure specific file types use LF (Unix-style) line endings
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.py text eol=lf
